<aside class="o-sidebar o-sidebar--venue">

  <div class="o-sidebar__book">
    <a href="#whats-on" class="a-btn" title="See what's on here">See what's on here</a>
  </div>

  <h3>Venue information</h3>

  {% if content.field_venue_info|render %}
    {{ content.field_venue_info}}
  {% endif %}

  {% if content.field_venue_map|render %}
    {{ content.field_venue_map}}
  {% endif %}

</aside>