{%
  set classes = [
    'view--performances'
  ]
%}
<div{{attributes.addClass(classes)}}>
  <div class="grid">
    <div class="col-sm-12 col-bleed">
      {% if rows %}
        {{ rows }}
      {% else %}
        {{ empty }}
      {% endif %}
    </div>
  </div>
</div>