<section class="a-content m-related-content">
  <div class="grid">
    <div class="col-sm-12">
      <header class="m-related-content__header">
        <h2>Featured events</h2>
        <a href="{{ drupal_url('node/9') }}" class="a-btn" title="See all events">See all</a>
      </header>

      <div class="a-grid a-grid--4">
        {% for item in items %}{{ item.content }}{% endfor %}
      </div>
    </div>
  </div>
</section>
