{% if content.field_related_pages|render %}
  <section class="a-content m-related-content">
    <div class="grid">
      <div class="col-sm-12">
        <header class="m-related-content__header">
          <h2>{{ content.title }}</h2>
        </header>

        <div class="a-grid a-grid--3">
          {{ content.field_related_pages }}
        </div>
      </div>
    </div>
  </section>
{% endif %}
